.title {
  margin-top: 10px;
  font-weight: 700;
}

.counters {
  font-size: 1.2rem;
  color: grey;
  text-align: end;
}

@media screen and (max-width: 768px) {
  .title {
    margin-bottom: 0;
    line-height: 18px;
    font-size: 18px;
    height: 25px;
  }

  .counters {
    font-size: 10px;
  }
}
